.error-control {
	border:1px solid #dc3545;	
}
.error-msg{
	width:100%;
	color:#dc3545;
	display:none;
}
.error-msg.err-show{
	display:block;
}
.action-gear .dropdown-toggle::after {
    display: none;
   
}

.action-gear .dropleft .dropdown-toggle::before {
	display: none;
}



/* Image slider */
.my-slider-images {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.my-slider-prev, .my-slider-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.my-slider-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.my-slider-prev:hover, .my-slider-next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.my-slider-numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.my-slider-dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.my-slider-dot:hover {
  background-color: #717171;
}

/* Fading animation */
.slider-fade {
  -webkit-animation-name: slider-fade;
  -webkit-animation-duration: 1.5s;
  animation-name: slider-fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes slider-fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes slider-fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .my-slider-prev, .my-slider-next,.text {font-size: 11px}